
body {
	background-color: red;
}


button {
	background-color: purple;
}

button:active {
	background-color: white;
}
/* visited link */
a:visited {
	color: cyan;
}
.button1 {background-color: #4CAF50;} /* Green */